.page-container {
    
    background:$mediumGray;

    .content {
        padding:20px 15px;
        box-shadow:inset 0px 6px 4px -5px $darkGray;
    }
}
.pager {
    padding:15px;
    text-align:center;    
    background:$white;

    a, span {
        margin:0 12px;
        text-decoration:none;

        &.disabled {
            cursor:initial;
            color:$greyFont;
        }
    }
}

.list {
    padding:20px 15px;
    box-shadow:inset 0px 6px 4px -5px $darkGray;

    ul {
        display:block !important;

        &.hidden {
            opacity:0.1;
            transform:translate3D(0,20px,0);
        }
    }
    li {
        display:table;
        width:100%;
        background:$white;
        margin-bottom:1px;

        &:last-child {
            margin-bottom:0;
        }


        > div {
            display:table-cell;
            padding:15px 0;
            
            &.rating {  
                width:60px;
                padding:0;
                vertical-align:middle;
                text-align:center;
                color:$orange;
                font-size:1.2em;
                font-weight:bold;
            }

            > span {
                display:block;
                color:$greyFont;
                font-size:0.85rem;
                line-height:1.2rem;

                a {
                    color:$greyFont;
                    text-decoration:underline;
                }
                
                .title {
                    color:$blueFont;
                    font-size:0.95rem;
                    text-decoration:none;
                }
            }
        }
    }
}

//loading icon
.loading {
    background:rgba(#000,0.7);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:500;

    .icon {
        position:absolute;
        top:50%;
        bottom:0;
        left:50%;
        right:0;
        height: 40px;
        width:50px;
        text-align: center;
        font-size: 10px;
        margin-top:-20px;
        margin-left:-25px;
  
        div {
          background-color: #FFF;
          height: 100%;
          width: 6px;
          margin:1px;
          float:left;
  
          -webkit-animation: loading-bar 1.2s infinite ease-in-out;
          animation: loading-bar 1.2s infinite ease-in-out;
        }

        .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

        .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }

        .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
    }
}