$minWidth:360px;
$baseFontSize:16;

$white:#FFF;
$lightGray:#F7F7F7;
$mediumGray:#F2F3F5;
$darkGray:#E8E8E8;
$darkerGray:#646569;

$orange:#E27203;

$primaryFont:#2F1A45;
$blueFont:#676D8B;
$greyFont:#A8A8AF;