/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Custom global styles */
body {
  position: relative;
  font-family: Calibri;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  color: #2F1A45;
  padding: 0;
  margin: 0;
  z-index: 1;
  min-width: 360px;
  font-size: 16px;
  background: #F2F3F5; }

body,
html {
  height: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

input {
  line-height: 30px;
  height: 30px;
  padding: 0 5px;
  border: solid 1px #E27203; }
  input:focus {
    outline: none; }

h1 {
  font-size: 2rem; }

p {
  margin-bottom: 10px; }

main {
  position: relative; }

.header {
  height: 40px;
  background: #E27203;
  padding: 12px 20px;
  box-shadow: 0px 1px 3px 0px #E27203;
  position: relative; }
  .header__link {
    float: left;
    margin-right: 20px;
    color: #FFF;
    opacity: 0.7;
    transition: opacity ease-in 0.2s; }
    .header__link:hover, .header__link--active {
      opacity: 1; }
    .header__link--home {
      display: inline-block;
      text-align: center;
      width: 20px;
      height: 20px;
      line-height: 18px;
      border: solid 1px #FFF;
      transition: background-color ease-in 0.2s, color ease-in 0.2s; }
      .header__link--home:hover {
        background: #FFF;
        color: #E27203; }

.footer {
  height: 30px;
  background: #E27203;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 3px 0px #E27203; }
  .footer__copy {
    margin: 0;
    text-align: center;
    color: #FFF;
    line-height: 30px; }

.app-container {
  min-height: 100%;
  position: relative; }

.page-container {
  padding: 20px 15px; }
  .page-container__content, .pager, .news-list {
    padding: 20px 15px;
    border: solid 1px #E8E8E8;
    box-shadow: 0px 6px 4px -5px #E8E8E8;
    background: #FFF;
    margin-bottom: 20px; }
  .page-container__title {
    margin-bottom: 20px; }

.button {
  display: block;
  border: none;
  padding: 0 15px 0 15px;
  line-height: 30px;
  height: 30px;
  background: #FFF;
  width: auto;
  text-align: center;
  margin: 15px 0;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.15s ease-in-out,color 0.15s ease-in-out;
  border: solid 1px #E27203;
  color: #2F1A45;
  vertical-align: middle; }
  .button:hover {
    box-shadow: 0px 2px 3px rgba(226, 114, 3, 0.4), inset 50px 50px 50px 50px rgba(226, 114, 3, 0.1); }
  .button:active {
    box-shadow: 0px 2px 3px rgba(226, 114, 3, 0.4), inset 50px 50px 50px 50px rgba(226, 114, 3, 0.8);
    color: #FFF; }
  .button--inline {
    display: inline-block;
    margin: 0;
    margin-left: -1px; }
  .button:focus {
    outline: none; }

.pager {
  padding: 15px;
  margin: 0 0 20px 0;
  text-align: center; }
  .pager__element {
    margin: 0 12px;
    text-decoration: none; }
    .pager__element--disabled {
      cursor: initial;
      color: #A8A8AF; }

.news-list {
  padding: 0;
  background: none; }
  .news-list__container {
    display: block !important; }
    .news-list__container--hidden {
      opacity: 0.1;
      transform: translate3D(0, 20px, 0); }

.news-item {
  display: table;
  width: 100%;
  background: #FFF;
  margin-bottom: 1px; }
  .news-item:last-child {
    margin-bottom: 0; }
  .news-item__content {
    display: table-cell;
    padding: 15px 0; }
  .news-item__line {
    display: block;
    color: #A8A8AF;
    font-size: 0.85rem;
    line-height: 1.2rem; }
  .news-item__link {
    color: #A8A8AF;
    text-decoration: underline; }
  .news-item__title {
    color: #676D8B;
    font-size: 0.95rem;
    text-decoration: none; }
  .news-item__rating {
    width: 60px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    color: #E27203;
    font-size: 1.2em;
    font-weight: bold; }

.loading {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500; }
  .loading__indicator {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 10px;
    margin-top: -20px;
    margin-left: -25px; }
  .loading__bar {
    background-color: #FFF;
    height: 100%;
    width: 6px;
    margin: 1px;
    float: left;
    -webkit-animation: loading-bar 1.2s infinite ease-in-out;
    animation: loading-bar 1.2s infinite ease-in-out; }
    .loading__bar--rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .loading__bar--rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }
    .loading__bar--rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .loading__bar--rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

.gallery__container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -5px;
  margin-bottom: 20px;
  min-height: 100px; }

.gallery__item {
  float: left;
  flex-grow: 1;
  border: solid 1px #E8E8E8;
  margin: 5px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background: #FFF;
  box-shadow: 0 3px 8px #E8E8E8; }

.gallery__title {
  margin: 0 0 10px;
  font-size: 1.25rem; }

.gallery__thumbnail {
  width: 80%;
  height: auto;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 60.7%;
  height: 0;
  position: relative; }
  .gallery__thumbnail img {
    display: block;
    width: 100%;
    position: absolute; }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex; }
  .light-box iframe {
    margin: auto;
    box-shadow: 5px 5px 15px #222, -5px -5px 15px #222;
    background: #222; }

@keyframes loading-bar {
  0%, 40%, 100% {
    transform: scaleY(0.4); }
  20% {
    transform: scaleY(1); } }

@keyframes pie-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pie-opacity {
  0% {
    opacity: 1; }
  50%, 100% {
    opacity: 0; } }

@keyframes fade-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide-left-show {
  0% {
    transform: translate3D(-100%, 0, 0); }
  100% {
    transform: translate3D(0, 0, 0); } }

@keyframes slide-left-hide {
  0% {
    transform: translate3D(0, 0, 0); }
  100% {
    transform: translate3D(-100%, 0, 0); } }

@keyframes slide-right-show {
  0% {
    transform: translate3D(100%, 0, 0); }
  100% {
    transform: translate3D(0, 0, 0); } }

@keyframes slide-right-hide {
  0% {
    transform: translate3D(0, 0, 0); }
  100% {
    transform: translate3D(100%, 0, 0); } }

.page-transition-enter {
  opacity: 0.1; }

.page-transition-enter-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }

.page-transition-leave-active, .page-transition-leave-to {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }

.slide-fade-enter-active {
  animation: slide-down .5s reverse; }

.slide-fade-leave-active {
  animation: slide-down .5s; }

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translate3D(0, 0, 0); }
  100% {
    opacity: 0.1;
    transform: translate3D(0, 20px, 0); } }

.fade-enter-active {
  transition: opacity 0.3s ease-in-out; }

.fade-leave-active {
  transition: opacity 0.3s ease-in-out; }

.fade-enter, .fade-leave-to {
  opacity: 0; }
